<!DOCTYPE html>
<title>Vue.js SPAのサンプルアプリケーション</title>
<style>

</style>

<div id="app">
  <nav>
    <router-link to="/top">トップページ</router-link>
    <router-link to="/users">ユーザー一覧ページ</router-link>
  </nav>
  <router-view></router-view>
</div>

<script src="https://unpkg.com/vue@2.5.17"></script>
<script src="https://unpkg.com/vue-router@2.7.0/dist/vue-router.min.js"></script>

<!-- ユーザー一覧ページのテンプレートをx-templateに切り出す -->
<script type="text/x-template" id="user-list">
  <div>
    <div class="loading" v-if="loading">読み込み中...</div>
    <div class="error" v-if="error">{{ error }}</div>
    <div v-for="user in users" :key="user.id">
      <h2>{{ user.name }}</h2>
    </div>
  </div>
</script>

<script type="text/x-template" id="user-detail">
  <div>
    <div class="loading" v-if="loading">読み込み中...</div>
    <div class="error" v-if="error">{{ error }}</div>
    <div v-if="user">
      <h2>{{ user.name }}</h2>
      <h2>{{ user.description }}</h2>
    </div>
  </div>
</script>

<script>
  // コールバック関数を引数に渡し、
  var getUsers = function (callback) {
    setTimeout (function () {
      // コールバック関数
      // errorがnullで、usersを配列で渡す
      callback(null, [
        {
          id: 1,
          name: 'Ryotaro Hayashi'
        },
        {
          id: 2,
          name: 'Yuzu Masuda'
        }
      ])
    }, 1000)
  }

  // ユーザー一覧ページのテンプレートを変数に格納
  var UserList = {
    // x-templateに切り出したものをテンプレートへ
    template: '#user-list',
    data: function () {
      // データの初期値は、ロードがされておらず、ユーザー情報も空で、エラーもない
      return {
        loading: false,
        users: function (){
          return []
        },
        error: null
      }
    },
    // ライフサイクルフックのcreatedで、データの値を変更
    created: function () {
      this.fetchData()
    },
    // watchによって$routeを検出（監視）して、ルートに変更があるたびに処理を呼び出す
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      // データを更新するための関数
      fetchData: function () {
        // 読み込み中...を表示させる
        this.loading = true
        // コールバック関数で定義したデータにerrとusersという名前を付ける
        getUsers((function (err, users) {
          // 読み込み中...を非表示にする
          this.loading = false
          if (err) {
            this.error = err.toString()
          } else {
            // エラーがなければ、
            this.users = users
          }
        }).bind(this))
      }
    }
  }

  var UserData = [
    {
      id: 1,
      name: 'Ryotaro Hayashi',
      description: '公立はこだて未来大学3年'
    },
    {
      id: 2,
      name: 'Masuda Yuzuka',
      description: '北海道教育大学函館校3年'
    }
  ]

  var getUser = function (userId, callback) {
    setTimeout (function () {
      // filterメソッドは、配列のデータを抽出するためのメソッド
      // idが一致するユーザーを抽出
      var filteredUsers = userData.filter(function (user) {
        // parseIntは、引数の文字列を数値に変換する（第2引数は基数）
        return user.id == parseInt(userId, 10)
      })
      callback(null, filteredUsers && filteredUsers[0])
    }, 1000)
  }

  var UserDetail = {
    template: '#user-detail',
    data: function () {
      return {
        loading: false,
        user: null,
        error: null
      }
    },
    created: function () {
      this.fetchData()
    },
    watch: {
      '$route': 'fetchData'
    },
    method: {
      fetchData: function () {
        this.loading = true
        getUser(this.$route.params.userId, (function (err, user) {
          this.loading = false
          if (err) {
            this.error = err.toStrig()
          } else {
            this.user = user
          }
        }).bind(this))
      }
    }

  }

  var router = new VueRouter({
    routes: [
      {
        path: '/top',
        component: {
          template: '<div>トップページです。</div>'
        }
      },
      {
        path: '/users',
        // コンポーネントにユーザー一覧ページのテンプレートを変数に格納したものを渡す
        component: UserList
      },
      {
        path: 'users/:userId',
        component: UserDetail
      }
    ]
  })

  var app = new Vue({
    router: router
  }).$mount('#app')
</script>
